<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="MollieTxtSenderSettings" type="Exyll.MollieTexting.MollieTxtSenderSettings, Exyll.MollieTexting"/>
	</configSections>
	<MollieTxtSenderSettings username="companywebcast" passwordMd5="3423B1A288B21B8B2EBA0E2FB80B9D2A"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
