<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="MollieTxtSenderSettings" type="MollieTexting.MollieTxtSenderSettings, MollieTexting"/>
	</configSections>
	<MollieTxtSenderSettings username="username" passwordMd5="passwordmd5"/>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
